<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.cmacica.flujocredito">
    <!-- Red -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Autenticación -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- Sincronización -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlujoCredito">
        <activity android:name=".ViewModel.NuevoExpedienteCredito.ExpedienteActivity"></activity>
        <activity android:name=".ViewModel.NuevoExpedienteCredito.UpdateExpedienteActivity" />
        <activity android:name=".ViewModel.NuevoExpedienteCredito.ListadoExpedientesActivity" />
        <activity android:name=".ViewModel.NuevoExpedienteCredito.AddExpedienteActivity" />
        <activity android:name=".ViewModel.NuevoExpedienteCredito.ListadoCreditosActivity" />
        <activity
            android:name=".ViewModel.NuevoExpedienteCredito.ConfiguracionCreditoActivity"
            android:label="@string/title_activity_configuracion_credito" />
        <activity android:name=".ViewModel.ExpedienteCredito.ListadoExpedientesActivity" />
        <activity android:name=".ViewModel.ExpedienteCredito.ListadoCreditosActivity" />
        <activity android:name=".ViewModel.ExpedienteCredito.ConfiguracionCreditoActivity" />
        <activity android:name=".ViewModel.AgendaComercial.RegistroResultadoActivity" />
        <activity android:name=".ViewModel.AgendaComercial.RegistroReferidoActivity" />
        <activity android:name=".ViewModel.AgendaComercial.OfertasClienteActivity" />
        <activity android:name=".ViewModel.AgendaComercial.ActualizarDatosClienteActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.RegistrarUsuarioActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.MapaGeoreferenciacionActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.GeoreferenciarActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.FiltroBusquedaActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.EditarClienteActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.DetalleUsuarioActivity" />
        <activity android:name=".ViewModel.CarteraAnalista.BusquedaNombreApellidoActivity" />
        <activity
            android:name=".ViewModel.CarteraAnalista.AnadeDireccionActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ViewModel.GeoReferenciacion.ViewGeoRefActivity" />
        <activity android:name=".ViewModel.GeoReferenciacion.RegisterGeoRefActivity" />
        <activity android:name=".ViewModel.Seguridad.ActividadLogin">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ViewModel.ActividadPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FlujoCredito">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ViewModel.PlanPago.ActividadDetallePlanPago"
            android:label="detalle plan pago"
            android:parentActivityName=".ViewModel.ActividadPrincipal"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.TranslucentSystemBars" />
        <activity
            android:name=".ViewModel.Digitacion.ActividadFteIgrDep"
            android:label="Fte ingreso dep"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FlujoCredito" />
        <activity
            android:name=".ViewModel.Digitacion.ActividadFteIgrIndep"
            android:screenOrientation="portrait" /> <!-- PROVIDER -->
        <provider
            android:name=".Repositorio.Mapeo.ProviderDbCmacIca"
            android:authorities="@string/autoridad_provider"
            android:exported="true"
            android:syncable="true" />

        <service
            android:name=".Sync.ServicioAutenticacion"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/autenticador" />
        </service>
        <service
            android:name=".Sync.ServicioSincronizacion"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <service
            android:name=".Sync.Configuracion.PersonaProgressIntentService"
            android:exported="false" />
        <service
            android:name=".Sync.Configuracion.ConstanteProgressIntentService"
            android:exported="false" />

        <activity
            android:name=".ViewModel.General.ActividadBusquedaPersona"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ViewModel.General.ActividadConfiguracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSearch" />
        <activity
            android:name=".ViewModel.Calificacion.ActividadHistPlanPago"
            android:label="@string/title_activity_actividad_hist_plan_pago"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeBar">

            <!--
                <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewModel.ActividadPrincipal" />
            -->
        </activity>
        <activity
            android:name=".ViewModel.Solicitud.ActividadMantSolCred"
            android:label="@string/title_activity_actividad_mant_sol_cred"
            android:theme="@style/Theme.FlujoCredito" />
        <activity
            android:name=".ViewModel.Cobranza.ActividadGestionCobranza"
            android:label="@string/title_activity_actividad_gestion_cobranza"
            android:theme="@style/Theme.FlujoCredito" />
        <activity
            android:name=".ViewModel.GeoReferenciacion.MostrarLatitudLongitud"
            android:label="@string/title_activity_mostrar_latitud_longitud"
            android:theme="@style/Theme.FlujoCredito" />
        <activity
            android:name=".ViewModel.Recuperaciones.ActividadProgramacionRecuperaciones"
            android:label="@string/title_activity_actividad_programacion_recuperaciones"
            android:theme="@style/Theme.FlujoCredito" />
    </application>

</manifest>